{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ marmita.nome }}</title>
    <link rel="stylesheet" href="{% static 'marmitas/css/detail.css' %}">
</head>
<body>

    <main class="container">
        <section class="marmita-card">

            {% if marmita.imagem %}
                <div class="marmita-image">
                    <img 
                    src="{{ marmita.imagem.url }}" 
                    alt="{{ marmita.nome }}"
                    >
                </div>
            {% endif %}

            <div class="marmita-content">
                <h1>{{ marmita.nome }}</h1>

                <p class="descricao">{{ marmita.descricao }}</p>

                <div class="info-group">
                    <h2>Ingredientes</h2>
                    <p>{{ marmita.ingredientes }}</p>
                </div>

                <div class="details">
                    <div class="detail-box">
                        <span>Peso</span>
                        <strong>{{ marmita.peso }}g</strong>
                    </div>
                    <div class="detail-box">
                        <span>Preço</span>
                        <strong>R$ {{ marmita.preco }}</strong>
                    </div>
                </div>

                <div class="card-actions">
                    <button class="buy-button">Pedir agora</button>
                    <a href="{% url 'marmitas:home' %}" class="btn-back">Voltar</a>
                    {% if user.is_staff %}
                        <a href="{% url 'marmitas:editar' marmita.id %}" class="btn-edit">Editar</a>
                        <a href="{% url 'marmitas:deletar' marmita.id %}" class="btn-delete">Deletar</a>
                    {% endif %}
                </div>
            </div>

        </section>
    </main>

</body>
</html>